html {
    height: 100%;
}
body {
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    font-family: "Lato", sans-serif;
}
a {
    color: inherit;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}

.container-fluid {
    height: 100%;
    width: 100%;
    
    display: flex;
    flex-direction: column;

    background-image: url(../assets/rubikbackground.png);
    background-size: cover;

    

    position: relative; 
}
.container-fluid::before {
    content: "";
    opacity: 0.75;
    
    background-color: rgba(255,255,255,0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#navicon {
    width: 75px;
    margin: 10px 20px;
}

.dropdown-menu {
    background-image: url(../assets/favicon.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.dropdown-item{
    color: rgba(0, 0, 0, 1);
    background-color: rgba(233,236,239,0.6);
    font-weight: 700;
    opacity: 1;
    z-index: 2;
    padding: 8px;
}

@media (min-width: 1000px) {
    .R {
        grid-template-columns: 2fr 1fr !important;
    }
}

.resource {
    display: inline-grid;
    background-color: rgba(175,238,238, 0.85);
    grid-template-columns: 1fr 2fr;
    min-height: 250px; 

    align-items: center;

    border-style: solid;
    border-width: 5px;
    border-color: blue;
    border-radius: 30px;
}


.resource:hover {
    transform: scale(1);
    transition-duration: 450ms;
}
.resource:not(:hover) {
    transform: scale(0.85);
    transition-duration: 250ms;
}

.resourceimg {
    max-height: 100px;
    width: auto;
}